<app-template-fullwidth title="List orders">
    
    <app-table-light [titles]="headers">
        <tr *ngFor="let item of collection">
            <td><app-icon-edit (click)="goToEdit(item)"></app-icon-edit></td>
            <td>{{ item.serviceType }}</td>
            <td>{{ item.client | uppercase }}</td>
            <td>{{ item.numberOfDays }}</td>
            <td>{{ item.dailyRateExVAT | currency}}</td>
            <td>{{ item | price:false | currency}}</td>
            <td>{{ item | price:true | currency}}</td>
            <td [appState]="item.state">
                <select (change)="changeState(item, $event)">
                    <option *ngFor="let state of states" [value]="state" [selected]="state === item.state">{{ state }}</option>
                </select>
            </td>
        </tr>
    </app-table-light>
    <app-btn destRoute="add" label="Add an order"></app-btn>
</app-template-fullwidth>
