.state-canceled {
    background: var(--app-error);
  }
  .state-option {
    background: var(--app-warning);
  }
  .state-confirmed {
    background: var(--app-success);
  }
  .state-sent {
    background: var(--app-warning);
  }
  .state-paid {
    background: var(--app-darklight2);
  }

.highlight {
  border: 2px solid var(--app-highlight);
}


tr.highlight td:not([class^="state"]) {
  background-color: var(--app-highlight);
}