<header class="fixed-top">

    <span (click)="toggle()">
        <ng-container *ngIf="open; then navOpen else navClose"></ng-container>
    </span>

    <ng-template #navOpen>
        <ng-content select=".tr-icon-open"></ng-content>
    </ng-template>
    <ng-template #navClose>
        <ng-content select=".tr-icon-close"></ng-content>
    </ng-template>
    
    <ng-content select=".tr-header"></ng-content>
</header>
<main [ngClass]="{'close-aside': !open}">
    <div class="shadow position-fixed">

    </div>

    <aside>
        <div class="scroller">
            <ng-content select=".tr-nav"></ng-content>
        </div>
    </aside>

    <div class="page">
        <div class="contents">
            Page content 
        </div>
    </div>

    

    <footer>
        <ng-content select=".tr-footer"></ng-content>
    </footer>

</main>